.container {
    text-align: center;
    margin-top: 50px;
}

#displayText {
    font-size: 24px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #0003aa;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #02036d;
}